<div class="container mt-4">
  <h3>Lista de Técnicos</h3>

  <div class="mt-4">
    <h4>Técnicos em Nossa Equipe:</h4>
    <div class="card mb-3" *ngFor="let tecnico of tecnicos">
      <div class="card-body">
        <h5 class="card-title">{{ tecnico.nome }}</h5>
        <p class="card-text"><strong>Experiência:</strong> {{ tecnico.experiencia }}</p>
        <p class="card-text"><strong>Área:</strong> {{ tecnico.area }}</p>
        <p class="card-text">{{ tecnico.descricao }}</p>
      </div>
    </div>
  </div>
</div>
