<div class="container">
  <h2>Lista de Técnicos</h2>

  <!-- Formulário para adicionar ou editar técnicos -->
  <form [formGroup]="tecnicoForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="nome">Nome</label>
      <input id="nome" formControlName="nome" type="text" class="form-control" required />
    </div>
    <div class="form-group">
      <label for="especialidade">Especialidade</label>
      <input id="especialidade" formControlName="especialidade" type="text" class="form-control" required />
    </div>
    <button type="submit" class="btn btn-primary">
      {{ tecnicoEmEdicao ? 'Salvar Alterações' : 'Adicionar Técnico' }}
    </button>
    <button type="button" (click)="cancelarEdicao()" class="btn btn-secondary" [style.display]="exibirCancelar() ? 'inline-block' : 'none'">
      Cancelar
    </button>
  </form>

  <hr />

  <!-- Tabela de técnicos -->
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Especialidade</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      @for (tecnico of tecnicos; track $index) { 
      <tr>
        <td>{{ tecnico.nome }}</td>
        <td>{{ tecnico.especialidade }}</td>
        <td>
          <button class="btn btn-sm btn-warning" (click)="editarTecnico(tecnico)">Editar</button>
          <button class="btn btn-sm btn-danger" (click)="excluirTecnico(tecnico.id)">Excluir</button>
        </td>
      </tr>
     }
    </tbody>
  </table>
</div>
